html, body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

/*Bal oldali CSS beállítások*/

#bal{
    width: 30%;
    height: 100%;
    background-color: rgb(92, 103, 114);
    float: left;
}

#bal img{
    width: 100%;
}

#bal p{
    color: white;
    margin-left: 30px;

}

/*Jobb odali CSS beállítások*/

#jobb{
    width: 70%;
    float: right;
    margin: auto;
}

#jobb h1{
    text-align: left;
    margin-left: 100px;
    font-size: 50px;
    font-weight: bold;
    margin-top: 5%;
}

hr{
    width: 90%;
    border-color: grey;
}

#jobb h2{
    font-size: 350%;
    margin-left: 100px;
}

/*Leggyakoribb számok oldal CSS beállításai*/

.gyakorisag{
    font-size: 510%;
}

.darabszam{
    font-size: 350%;
}

td img{
    height: 100px;
}

table{
    margin-left: 100px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover p{
    font-size: 110%;
}

/*A leghosszabb oldalhoz tartozó CSS formázások*/

/*Bal oldali CSS beállítások*/

#leghbal{
    width: 30%;
    height: 100%;
    background-color: rgb(92, 103, 114);
    float: left;
}

#leghbal img{
    width: 100%;
}

#leghbal p{
    color: white;
    margin-left: 30px;

}

#leghbal a:hover p{
    font-size: 110%;
}

/*Grafikonok oldalhoz tartozó CSS beállítások*/

#grafikon1{
    height: 400px;
    margin-left: 15%;
    margin-top: 1%;
}

#grafikon2{
    height: 400px;
    margin-left: 11%;
}